.name_card {
    width: 100%;

    h1 {
        font-family: 'Poppins', sans-serif !important;
        font-size: 2vw;
        font-weight: 600;
        color: #2962FF;
        margin-top: 1.5vw;
        margin-bottom: 1vw;
    }

    p {
        font-size: 1.2vw;
        font-weight: 500;
        margin-bottom: 0.5vw;
    }
}