.btn {
    font-family: 'DM Sans', sans-serif;
    font-size: 0.9vw;
    letter-spacing: 0.01em;
    color: white;
    background-color: #2962FF;
    padding: 0.5vw 1.3vw;
    width: max-content;
    border-radius: 1.2vw;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
        margin-right: 0.4vw;
    }
}