.slideshow {
    width: 100%;
    padding: 5vw 5vw;

    h2 {
        font-family: 'Poppins', sans-serif !important;
        font-size: 1.7vw;
        font-weight: 500;
        margin-bottom: 2.5vw;
        line-height: 1.6em;
        color: rgb(55, 63, 84);

        span {
            background: linear-gradient(89deg, #fecf0f, #ac8f50, #ff8b2c, #a36540);
            background-size: 600% 600%;
            animation: bg-animate 7s ease infinite;
            color: #fff;
            padding: 0 0.35rem;
            border-radius: 0.2rem;
            margin-right: 0.5rem;
        }
    }
}

@keyframes bg-animate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}