.conf_detail {
    width: 100%;
    padding: 5vw 5vw;
    //height: 10vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: 'Poppins', sans-serif !important;
        font-size: 2.5vw;
        font-weight: 600;
        color: black;
        text-align: center;
        margin-bottom: 1.5vw;
        text-transform: uppercase;
    }


    h4 {
        text-align: center;
        color: rgb(120, 120, 120);
        font-weight: 500;
        margin-bottom: 1.5vw;
    }

    .track_heading {
        font-family: 'DM Sans', sans-serif;
        font-size: 2vw;
        font-weight: 800;
        margin-bottom: 2vw;
        width: max-content;
        text-align: center;

        background: linear-gradient(89deg, #6b13f0, #6694f9, #0529df, #4c43ff44);
        background-size: 600% 600%;
        animation: bg-animate 7s ease infinite;
        color: #fff;
        padding: 0 0.35rem;
        border-radius: 0.2rem;
    }

    .track_items {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

@keyframes bg-animate {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}